/**
 * ===============================
 *  Defult CSS 
 * ===============================
 */
body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 14px;
  font-style: none;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  position: relative;
  background-color: blue;
}
a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  padding: 0;
  color: #000000;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
a:hover {
  color: #000000;
}
a:focus {
  color: #000000;
  outline: 0 !important;
}

.center-block {
	background-color: #ffffff;
	border-radius: 8px;
	width: 40%;
	margin: 160px auto;
	box-shadow: 10px 10px 30px 5px #595959;
	z-index: 1;
}

/**
 * ===================================
 * Subscription and contact  "MESSAGE"
 * ===================================
 */
.message p {
  margin-bottom: 0px;
}
.message p:last-child {
  padding-bottom: 10px !important;
}
.subscription-success,
.subscription-failed,
.email-success,
.email-failed,
.email-loading {
  font-size: 13px;
  display: none;
  text-align: center !important;
  padding: 10px 10px 0 10px;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.email-loading {
  color: #52B8FF;
}
.email-loading img {
  width: 13px;
  position: relative;
  top: -2px;
}
.subscription-failed,
.email-failed {
  color: #FF5252 !important;
}
.subscription-failed .icon,
.email-failed .icon {
  font-size: 12px;
  position: relative;
  top: 1px;
}
.subscription-success,
.email-success {
  color: #56CC35;
}
.subscription-failed .icon,
.email-failed .icon,
.subscription-success .icon,
.email-success .icon {
  font-size: 12px;
  position: relative;
  top: 1px;
}
/**
 * =========================
 * Form Style 
 * =========================
 */
.single-form {
  width: 100%;
  display: inline-table;
}
.single-form .form-control {
  position: relative;
  background-color: transparent;
  border: 0px solid;
  border-radius: 0;
  box-shadow: 0 0 0 0 #fff;
  color: #ffffff;
  margin-bottom: 20px;
  height: 55px;
  z-index: 100;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.single-form .form-control:focus {
  outline: none;
}
.single-form .form-control,
.single-form .input-label {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
}
.single-form .input-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  left: 10px;
  top: 0;
}
.single-form .input-label::after,
.single-form .input-label::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f7ac54;
  -o-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.single-form .input-label::before {
  background-color: rgba(255, 255, 255, 0.3);
}
.single-form .input-label::after {
  background-color: #f7ac54;
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.single-form .input-label:hover {
  cursor: text;
}
.single-form .input-label .label-text {
  position: absolute;
  left: 0;
  top: 0px;
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -o-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.single-form .form-control:focus + .input-label .label-text {
  font-size: 11px;
  color: magenta;
  -o-transform: translate3d(0, -26px, 0);
  -ms-transform: translate3d(0, -26px, 0);
  -moz-transform: translate3d(0, -26px, 0);
  -webkit-transform: translate3d(0, -26px, 0);
  transform: translate3d(0, -26px, 0);
}
.single-form .form-control:focus + .input-label::after {
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.single-form .input-filled .input-label .label-text {
  font-size: 11px;
  color: #f7ac54;
  -o-transform: translate3d(0, -26px, 0);
  -ms-transform: translate3d(0, -26px, 0);
  -moz-transform: translate3d(0, -26px, 0);
  -webkit-transform: translate3d(0, -26px, 0);
  transform: translate3d(0, -26px, 0);
}
.single-form .input-filled .input-label::after {
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.single-form textarea {
  height: 100px !important;
}
@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 45px;
    line-height: 65px;
    font-weight: 300;
  }
  /**
     * ===============================
     *  Defult CSS 
     * ===============================
     */
  html *,
  body,
  p {
    text-align: center;
  }
  .section-header.text-left,
  .section-header.text-right,
  .section-header.text-left *,
  .section-header.text-right * {
    text-align: center;
  }
}


/**
 * ========================================
 * Contact Section Style
 * ========================================
 */
.bg-image-2 {
  background: url('../images/background-1.jpg');
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-color: #171717;
}
.contact-us .single-form-outer {
  padding: 15px;
}
.contact-us .single-form {
  -o-box-shadow: 2px 4.33px 25px 0px rgba(0, 0, 0, 0.25) ;
  -ms-box-shadow: 2px 4.33px 25px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 2px 4.33px 25px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-box-shadow: 2px 4.33px 25px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 2px 4.33px 25px 0px rgba(0, 0, 0, 0.25) ;
}
.contact-us .single-form .input-outer {
  padding: 52px 40px 0 40px;
}
.contact-us .single-form .button-outer {
  padding: 52px 40px 40px 40px;
}
.contact-footer {
  margin-top: 60px;
  margin-bottom: 60px;
}
.contact-footer .logo-link {
  width: 100%;
  text-align: center;
}
.contact-footer .logo-link img {
  margin: auto;
}
.contact-footer .title {
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
}
.contact-footer > a,
.contact-footer .nav > li,
.contact-footer > a a,
.contact-footer .nav > li a {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
  color: #9c9c9c;
  background-color: transparent;
}
.contact-footer > a:hover,
.contact-footer .nav > li:hover,
.contact-footer > a a:hover,
.contact-footer .nav > li a:hover {
  background-color: transparent;
}
.contact-footer .social-icon li a {
  color: #202020;
  margin-right: 15px;
  line-height: 23px;
  background-color: #9c9c9c;
}
.contact-footer .social-icon li a:hover {
  background-color: #9c9c9c;
  color: #202020 !important;
}
.contact-footer .social-icon li:last-child a {
  margin-right: 0;
}




/**
 * ================
 * Defult Style
 * ================
 */
.overflow {
  overflow: hidden;
}
.absolute {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.relative {
  position: relative;
}
.display-full {
  height: 100%;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -o-transform: translate3d( -50%, -50%, 0);
  -ms-transform: translate3d( -50%, -50%, 0);
  -moz-transform: translate3d( -50%, -50%, 0);
  -webkit-transform: translate3d( -50%, -50%, 0);
  transform: translate3d( -50%, -50%, 0);
}
.vertical-middle {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.each-portfolio-heading.center {
  width: 100%;
}
.row.absolute {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 100%;
  height: 100%;
}

